$orange:             #fe6d0e !default;
$light-orange:       #fd6907 !default;
$dark-orange:        #f97f00 !default;

$original-black:     #0e0906 !default;
$black:              darken($original-black, 4%) !default;
$black-transparent:  rgba($original-black, 0.25) !default;

$gray:               #232323 !default;

$global-margin:      16px !default;
$global-padding:     16px !default;
$gutter:             $global-margin !default;
$row-margin:         0px !default;
$nav-link-margin:    $global-margin !default;
$cols:               12 !default;
$max-cols:           12 !default;
$cols-xl:            10 !default;
$max-cols-xl:        10 !default;
$cols-lg:            8 !default;
$max-cols-lg:        8 !default;
$cols-md:            6 !default;
$max-cols-md:        6 !default;
$cols-sm:            4 !default;
$max-cols-sm:        4 !default;

$sm-screen:          0px !default;
$md-screen:          480px !default;
$lg-screen:          768px !default;
$xl-screen:          1024px !default;

$breakpoints: (
  sm: $sm-screen,
  md: $md-screen,
  lg: $lg-screen,
  xl: $xl-screen,
);

$container-width:    100% !default;
$max-cont-width:     1200px !default;

$section-padding:    $global-padding !default;
