@import '../settings';
@import './queries';

@mixin col($columns: $cols, $col-gutter:$gutter, $breakpoint: none, $max:$max-cols) {
  $total-width: ($columns/$max) * 100%;
  $cols-res: ($max/$columns);

  @if map-has-key($breakpoints, $breakpoint) {
    @include breakpoint($breakpoint) {
      width: calc(#{$total-width} - (#{$col-gutter}) + (#{$col-gutter} / #{$cols-res}) );
      flex-shrink: 0;
      margin-left: $col-gutter;
      margin-right: 0;
    }
  }

  @else {
    width: calc(#{$total-width} - (#{$col-gutter}) + (#{$col-gutter} / #{$cols-res}) );
    flex-shrink: 0;
    margin-left: $col-gutter;
    margin-right: 0;
  }

}

@mixin col-sm($columns:$cols-sm, $col-gutter:$gutter) {
  @if map-has-key($breakpoints, sm) {
    @include col($columns, $col-gutter, sm, $max-cols-sm);
  }
}

@mixin col-md($columns:$cols-md, $col-gutter:$gutter) {
  @if map-has-key($breakpoints, md) {
    @include col($columns, $col-gutter, md, $max-cols-md);
  }
}

@mixin col-lg($columns:$cols-lg, $col-gutter:$gutter) {
  @if map-has-key($breakpoints, lg) {
    @include col($columns, $col-gutter, lg, $max-cols-lg);
  }
}

@mixin col-xl($columns:$cols-xl, $col-gutter:$gutter) {
  @if map-has-key($breakpoints, xl) {
    @include col($columns, $col-gutter, xl, $max-cols-xl);
  }
}
