@import '../settings';

%container {
  width: $container-width;
  max-width: $max-cont-width;
  margin: 0 auto;
}

%container-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
