@import '../settings';

section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  @media screen and (min-width: $sm-screen) {
    padding-top: $section-padding-sm;
    padding-bottom: $section-padding-sm;
  }

  @media screen and (min-width: $md-screen) {
    padding-top: $section-padding-md;
    padding-bottom: $section-padding-md;
  }

  @media screen and (min-width: $lg-screen) {
    padding-top: $section-padding-lg;
    padding-bottom: $section-padding-lg;
  }

  @media screen and (min-width: $xl-screen) {
    padding-top: $section-padding-xl;
    padding-bottom: $section-padding-xl;
  }
}

.section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  
  @media screen and (min-width: $sm-screen) {
    padding-top: $section-padding-sm;
    padding-bottom: $section-padding-sm;
  }

  @media screen and (min-width: $md-screen) {
    padding-top: $section-padding-md;
    padding-bottom: $section-padding-md;
  }

  @media screen and (min-width: $lg-screen) {
    padding-top: $section-padding-lg;
    padding-bottom: $section-padding-lg;
  }

  @media screen and (min-width: $xl-screen) {
    padding-top: $section-padding-xl;
    padding-bottom: $section-padding-xl;
  }
}
